{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}

    <body>

    <form action="{{ path('search_in_api') }}">
        <button type="submit">Back to Search Page</button>
    </form>

    <h2>Total de résultat pour {{ userResearch }} : {{ searchSize }}</h2>

    {% for album in albumList %}

        {% if album['cover_image'] is defined %}
            <img src='{{ album["cover_image"] }}' width='250' height='250'/>
        {% else %}
            <p>Pochette non renseignée</p>
        {% endif %}


        {% if album['title'] is defined %}
            <p>{{ album['title'] }}</p>
        {% else %}
            <p>Titre non renseigné</p>
        {% endif %}


        {% if album['year'] is defined %}
            <p>{{ album['year'] }}</p>
        {% else %}
            <p>Date de sortie non renseignée</p>
        {% endif %}

        <button>Ajouter aux favoris</button>
        <hr>
        <br>
    {% endfor %}

    </body>

    <footer>
        <p>&copy; 2024 TuttiFrutti</p>
    </footer>

{% endblock %}